* {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
html {
    display: flex;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-left: 3px solid rgb(165, 164, 162);
    border-right: 3px solid rgb(165, 164, 162);
    background-color: rgb(197, 196, 194);
}

header, footer {
    display: flex;
    width: 100%;
    height: 40px;
}

header, #header {
    border-bottom: 3px solid rgb(165, 164, 162);
}

main {
    display: flex;
    flex-basis: calc(100vh - 86px);
}

#section1 {
    display: flex;
    flex-direction: column;
    width: 440px;
    

}

.figure {
    margin: 0;
    height: fit-content;
    padding: 50px;
    padding-top: 35px;
}

img{
    width: 320px;
    height: 240px;
    margin: 0 10px 30px 10px;


}

figcaption {
    display: flex;
    flex-wrap: wrap;
    
}

span {
    width: fit-content;
    margin: 0 10px 10px 10px;
}

#section2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
#description {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100vh - 86px) / 2);
    margin: 35px 60px 0 10px;
}

#text {
    flex: 2 1 auto;
    width: 100%;
    height: 85%;
}

h2 {
    margin: 0 0 40px 0;
}

#properties {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
    margin-top: 15px;
}

#properties > section > section {
    display: flex;
    margin-right: 15%;
}

#icons {
    display: flex;
}

#icons  section  img {
    width: 20px;
    height: 20px;
    margin: 0;
    color: crimson;
}

#add_comment{
    display: flex;
}

#add_comment > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#comments {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0 60px 15px 10px;
}

#comments ul li, #comments ul {
    display: flex;
    flex-direction: column;
}

#comments ul li ul li:nth-child(odd) {
    background-color: rgb(165, 164, 162);
}

#first_ul {
    margin: 0;
    padding: 0;
}

.second_ul {
    margin-left: 16%;
}

.comment {
    display: flex;
    border-bottom: 2px solid rgb(165, 164, 162);
    border-top: 2px solid rgb(165, 164, 162);
}

.comment img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    justify-content: center;
    margin: 5px 20px 5px 12px;
}

.comment_text {
    display: flex;
    flex-direction: column;
    flex: 1 2 100%;
}

.header_comment {
    display: flex;
    justify-content: space-between;
}

.header_comment :nth-child(1n+1) {
    margin: 10px 5px 0 0;
}

footer, #footer {
    border-top: 3px solid rgb(165, 164, 162);
}