* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  line-height: 1.6;
  font-size: 1.2rem;
  height: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
  width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.5s;
}

button:hover {
  transform: translateY(-5px);
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

header {
  background-color: #0088bb;
  border-bottom: 1px solid lightgrey;
}

header > div,
footer > div {
  display: flex;
  color: #fff;

  width: 1400px;
  padding: 10px 30px;
  margin: 0 auto;
}

h1 {
  font-size: 1.6rem;
}

body > div > div {
  width: 1400px;
  padding: 10px 30px;
  margin: 0 auto;
}

main {
  display: flex;
}

main > section:nth-child(1) > article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  height: 100%;
  width: 400px;

  padding: 30px 30px;
}

main > section:nth-child(1) figure {
  width: 320px;
  height: 240px;
}

main > section:nth-child(1) > article > ul {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px 10px;
}

main > section:nth-child(1) > article > ul > li {
  padding-right: 12px;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

section:nth-child(1) > article > ul > li:hover {
  letter-spacing: 2px;
}

section:nth-child(2) {
  width: 90%;
}

section:nth-child(2) > article:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 30px 30px;
}

section:nth-child(2) > article:nth-child(1) > ul > li {
  display: flex;
  padding-bottom: 28px;
}

article:nth-child(1) > ul > li > p {
  padding-right: 30px;
}

article:nth-child(2) {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
}

article:nth-child(2) > ul:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

article:nth-child(2) > ul:nth-child(1) > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65px;
}

article:nth-child(2) > ul:nth-child(2) a {
  transition: ease-in-out 0.2s;
}

article:nth-child(2)
  > ul:nth-child(2)
  a:hover {
  transition: ease-in-out 0.2s;
  color: #0088bb;
  border-radius: 25px;
  border: 1px solid #0088bb;
  padding: 10px;
}

button > img {
  width: 25px;
  height: 25px;
}

article:nth-child(3) {
  margin: 30px 30px;
}

main > section:nth-child(2) > article:nth-child(3) > ul {
  margin-bottom: 20px;
}

article:nth-child(3) div {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 10px 20px;
}

article:nth-child(3) figure {
  width: 100px;
  padding-right: 30px;
}

article:nth-child(3) img {
  border-radius: 50%;
}

article:nth-child(3) > ul > li > ul {
  margin-left: 150px;
}

article:nth-child(3) > ul > li > ul > li:nth-child(odd) {
  background-color: lightgray;
}

footer {
  background-color: #0088bb;
  margin-top: auto;
}

footer > div > p {
  padding: 15px 0;
}
